<div class="page-header">
  <%= link_to new_admin_player_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Player
  <% end %>
  <h1>Listing admin_players</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Position</th>
      <th>Bio</th>
      <th>Full name</th>
      <th>Display name</th>
      <th>Short name</th>
      <th>Espn</th>
      <th>Source</th>
      <th>Source</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @admin_players.each do |admin_player| %>
    <tr>
      <td><%= admin_player.full_name %></td>
      <td><%= admin_player.position %></td>
      <td><%= admin_player.bio %></td>
      <td><%= admin_player.source_id %></td>
      <td><%= admin_player.source %></td>
      <td><%= link_to 'Show', admin_player %></td>
      <td><%= link_to 'Edit', edit_admin_player_path(admin_player) %></td>
      <td><%= link_to 'Destroy', admin_player, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
