<div class="page-header">
  <%= link_to sports_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_sport_path(@sport), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing sports</h1>
</div>

<dl>
  <dt>Name:</dt>
  <dd><%= @sport.name %></dd>

  <dt>Description:</dt>
  <dd><%= @sport.description %></dd>

  <dt>Nyt blog url:</dt>
  <dd><%= @sport.nyt_blog_url %></dd>

  <dt>Image url:</dt>
  <dd><%= @sport.image_url %></dd>

</dl>
