<div class="page-header">
  <%= link_to admin_sports_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to [:admin, @sport], :class => 'btn btn-primary' do %>
    <i class="icon-info-sign icon-white"></i>
    Show
  <% end %>
  <h1><%= @sport.name %>: <%= @league.name %></h1>
</div>

<%= render 'form' %>
