<div class="row">
  <div class="round-meta">
    <button class="pull-right submit-buckets btn btn-primary">Save</button>
    <% if @pick_window.present? %>
      <h4>Round <%= @pick_window.index %> / <%= @pick_window.project.pick_windows.count %></h4>
      <%= @pick_window.window_start.strftime("%m/%d/%Y") %> - <%= @pick_window.window_end.strftime("%m/%d/%Y") %>
    <% else %>
      You cannot make a selection at this time.
    <% end %>
  </div>
</div>

<ul class="buckets" id="buckets"></ul>

<ul class="candidates" id="pick-form"></ul>

<script type="text/javascript">
  var picker = new Picker({
    players: <%= raw @candidates.to_json %>,
    buckets: <%= raw @pick_buckets.map(&:to_json).to_json %>,
    endpoints: {
      update: "<%= update_picks_path %>"
    }
  });
</script>

<% if false %>
<%= form_for @pick, :url => new_pick_path, :id => "new-pick" do |f| %>
  <%= f.hidden_field :pick_id, :class => "pick_id" %>
  <%= f.hidden_field :pick_type, :class => "pick_type"%>

  <%= f.submit "Save", :class => "btn btn-success" %>
<% end %>

<div class="pick-form">
  <ul class="candidates">
  <% @candidates.each do |player| %>
    <li class="player" data-player-id="<%= player.id %>">
      <h5><%= player.full_name %></h5>
    </li>
  <% end %>
  <ul>
</div>
<% end %>
